#booking-block-modal .modal {
    position: fixed;
    top: 40px !important;
    right: 60px !important;
    bottom: 40px !important;
    left: 60px !important;
    overflow: hidden;
}

#booking-block-modal .modal-dialog {
    position: fixed;
    top: 40px !important;
    left: 60px !important;
    right: 60px !important;
    bottom: 40px !important;
    width: 100% !important;
    height: 100% !important;
}

#booking-block-modal .modal-content {
    position: fixed;
    background-color: rgba(255, 255, 255, 0) !important;
    top: 40px !important;
    left: 60px !important;
    right: 60px !important;
    bottom: 40px !important;
    width: 100% !important;
    height: auto !important;
}

#booking-block-modal .modal-header {
    position: fixed !important;
    top: 40px !important;
    right: 60px !important;
    left: 60px !important;
    height: 50px !important;
    padding: 10px !important;
    background: #263683 !important;
    border: 0 !important;
}

#booking-block-modal .modal-title {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
}

#booking-block-modal .modal-body {
    background-color: rgba(255, 255, 255, 0.8) !important;
    position: fixed !important;
    top: 90px !important;
    bottom: 90px !important;
    right: 60px !important;
    left: 60px !important;
    height: auto !important;
    overflow: auto !important;
}

#booking-block-modal .modal-footer {
    position: fixed !important;
    bottom: 40px !important;
    right: 60px !important;
    left: 60px !important;
    height: 50px !important;
    padding: 5px !important;
    background: #263683 !important;
    opacity: 0.8 !important;
    border: 0 !important;
}

#booking-block-modal .btn-closex {
    background-color: #FFFFFF;
    font-weight: bold;
    height: 32px;
    width: 30px;
    padding: 5px;
    border-radius: 8px;
}

#booking-block-modal .list-group-item {
    min-height: 6.5em;
}

#booking-block-modal .table {
    background-color: white;
}

#booking-block-modal .table .header a{
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: black;
}

#booking-block-modal .fa-minus {
    display: none;
}

.block_booking #id_sfmorefilters a.fheader {
    font-size:1rem !important;
}

.block_booking .alert-primary {
    font-weight: bold !important;
}

.block_booking .footer {
    text-align: center;
}

.block_booking #fitem_id_sfcourse {
    margin-left: 0em;
}

.block_booking #fitem_id_sfbookingoption {
    margin-left: 0em;
}

.block_booking #fitem_id_sfcourse label {
    font-size: small;
}

.block_booking #fitem_id_sfbookingoption label {
    font-size: small;
}

.block_booking #fitem_id_sflocation label {
    font-size: small;
}

.block_booking #fitem_id_sfinstitution label {
    font-size: small;
}

.block_booking #fitem_id_sflocation .col-form-label {
    padding-left: 0px;
}

.block_booking #fitem_id_sfinstitution  .col-form-label {
    padding-left: 0px;
}

.block_booking #id_sfcoursestarttime_label {
    font-size: small;
}

.block_booking #id_sfcourseendtime_label {
    font-size: small;
}
