#booking-block-modal .modal {
    position: fixed;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    overflow: hidden;
}

#booking-block-modal .modal-dialog {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    width: 100%;
    height: 100%;
}

#booking-block-modal .modal-content {
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    width: 100%;
    height: auto;
}

#booking-block-modal .modal-header {
    position: fixed;
    top: 40px;
    right: 40px;
    left: 40px;
    height: 50px;
    padding: 10px;
    border: 0;
}

#booking-block-modal .modal-title {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
}

#booking-block-modal .modal-body {
    background-color: #eee;
    position: fixed;
    top: 90px;
    bottom: 90px;
    right: 40px;
    left: 40px;
    height: auto;
    overflow: auto;
}

#booking-block-modal .modal-footer {
    position: fixed;
    bottom: 40px;
    right: 40px;
    left: 40px;
    height: 50px;
    padding: 5px;
    border: 0;
}

#booking-block-modal .btn-closex {
    background-color: #fff;
    font-weight: bold;
    height: 32px;
    width: 30px;
    padding: 5px;
    border-radius: 8px;
}

#booking-block-modal .list-group-item {
    min-height: 6.5em;
}

#booking-block-modal .table {
    background-color: white;
}

#booking-block-modal .table .header a {
    color: black;
}

#booking-block-modal .bqf-info-booked {
    position: absolute;
    top: 37px;
    border-radius: 5px;
    padding: 5px;
}

#booking-block-modal .bqf-info-waitinglist {
    position: absolute;
    top: 37px;
    border-radius: 5px;
    padding: 5px;
}

#booking-block-modal .bqf-info-notenrolled {
    position: absolute;
    top: 37px;
    border-radius: 5px;
    padding: 5px;
}

#booking-block-modal .bqf-button-show {
    position: relative;
    top: -5px;
    border-radius: 5px;
}

.block_booking #id_sfmorefilters a.fheader {
    font-size: 1rem;
}

.block_booking .alert-primary {
    font-weight: bold;
}

.block_booking .footer {
    text-align: center;
}

.block_booking #fitem_id_sfcourse {
    margin-left: 0;
}

.block_booking #fitem_id_sfbookingoption {
    margin-left: 0;
}

.block_booking #fitem_id_sfcourse label {
    font-size: small;
}

.block_booking #fitem_id_sfbookingoption label {
    font-size: small;
}

.block_booking #fitem_id_sflocation label,
.block_booking #fitem_id_sfnonlocation label {
    font-size: small;
}

.block_booking #fitem_id_sflocation .col-form-label,
.block_booking #fitem_id_sfnonlocation .col-form-label {
    padding-left: 0;
}

.block_booking #fitem_id_sfteacher label {
    font-size: small;
}

.block_booking #fitem_id_sfteacher .col-form-label {
    padding-left: 0;
}

.block_booking #id_sfcoursestarttime_label {
    font-size: small;
}

.block_booking #id_sfcourseendtime_label {
    font-size: small;
}

.block_booking #fitem_id_sfcoursestarttime {
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
}

.block_booking #fitem_id_sfcourseendtime {
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
}

.block_booking #fitem_id_sfcoursestarttime .col-form-label {
    position: absolute;
    padding-left: 0;
    top: -25px;
    font-size: small;
}

.block_booking #fitem_id_sfcourseendtime .col-form-label {
    position: absolute;
    padding-left: 0;
    top: -25px;
    font-size: small;
}

.block_booking #fitem_id_sfcoursestarttime .align-items-start {
    padding-left: 0;
}

.block_booking #fitem_id_sfcourseendtime .align-items-start {
    padding-left: 0;
}

.block_booking #fitem_id_sfcoursestarttime .custom-select {
    padding-left: 8px;
    padding-right: 20px;
}

.block_booking #fitem_id_sfcourseendtime .custom-select {
    padding-left: 8px;
    padding-right: 20px;
}
