#booking-block-modal .modal {
    position: fixed;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
    overflow: hidden;
}

#booking-block-modal .modal-dialog {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    width: 100%;
    height: 100%;
}

#booking-block-modal .modal-content {
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    width: 100%;
    height: auto;
}

#booking-block-modal .modal-header {
    position: fixed;
    top: 40px;
    right: 40px;
    left: 40px;
    height: 50px;
    padding: 10px;
    border: 0;
}

#booking-block-modal .modal-title {
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    line-height: 30px;
}

#booking-block-modal .modal-body {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 90px;
    bottom: 90px;
    right: 40px;
    left: 40px;
    height: auto;
    overflow: auto;
}

#booking-block-modal .modal-footer {
    position: fixed;
    bottom: 40px;
    right: 40px;
    left: 40px;
    height: 50px;
    padding: 5px;
    opacity: 0.8;
    border: 0;
}

#booking-block-modal .btn-closex {
    background-color: #fff;
    font-weight: bold;
    height: 32px;
    width: 30px;
    padding: 5px;
    border-radius: 8px;
}

#booking-block-modal .list-group-item {
    min-height: 6.5em;
}

#booking-block-modal .table {
    background-color: white;
}

#booking-block-modal .table .header a {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: black;
}

#booking-block-modal .fa-minus {
    display: none;
}

.block_booking #id_sfmorefilters a.fheader {
    font-size: 1rem;
}

.block_booking .alert-primary {
    font-weight: bold;
}

.block_booking .footer {
    text-align: center;
}

.block_booking #fitem_id_sfcourse {
    margin-left: 0;
}

.block_booking #fitem_id_sfbookingoption {
    margin-left: 0;
}

.block_booking #fitem_id_sfcourse label {
    font-size: small;
}

.block_booking #fitem_id_sfbookingoption label {
    font-size: small;
}

.block_booking #fitem_id_sflocation label {
    font-size: small;
}

.block_booking #fitem_id_sfinstitution label {
    font-size: small;
}

.block_booking #fitem_id_sflocation .col-form-label {
    padding-left: 0;
}

.block_booking #fitem_id_sfinstitution  .col-form-label {
    padding-left: 0;
}

.block_booking #id_sfcoursestarttime_label {
    font-size: small;
}

.block_booking #id_sfcourseendtime_label {
    font-size: small;
}
