{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_booking/searchresults_student

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    TODO:
    Context variables required for this template:
    * examplevariable - array: An array with values.
    * etc.

    Example context (json):
    {
        "resultsarray":[
            {
            "optionid":"37",
            "cmid":"104",
            "bookingid":"19",
            "text":"-42 - beb",
            "courseid":"7",
            "course":"-42",
            "location":"",
            "institution":"",
            "coursestarttime":"1633180080",
            "courseendtime":"1633208880",
            "datestring":"2 October 2021, 3:08 pm - 2 October 2021, 11:08 pm",
            "link":"http:\/\/localhost:8080\/moodle311\/mod\/booking\/view.php?id=104&optionid=37&action=showonlyone&whichview=showonlyone"
            }
        ],
        "resultsmessage":"1 booking options found (click to show)",
        "success":true
    }
}}
{{#resultsmessage}}
    {{#success}}
        <a href="#" data-toggle="modal" data-target="#booking-block-modal">
            <div class="alert alert-primary" role="alert">
                {{resultsmessage}}
            </div>
        </a>
    {{/success}}
    {{^success}}
        <div class="alert alert-warning" role="alert">
            {{resultsmessage}}
        </div>
    {{/success}}
{{/resultsmessage}}

<div id="booking-block-modal" class="modal in" tabindex="-1" role="dialog"
     aria-labelledby="bookingBlockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingBlockModalLabel">{{#str}} title, block_booking {{/str}}</h5>
                <button type="button" class="btn btn-closex" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <!-- The actual content goes here. -->
                <div class="list-group">
                    {{#results}}
                        <a href="{{link}}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{text}}</h5>
                                <small>{{#str}} sfcourse, block_booking {{/str}}: {{course}}</small>
                            </div>
                            {{#datestring}}
                                <p class="mb-1">{{datestring}}</p>
                            {{/datestring}}
                            {{#location}}
                                <small>{{#str}} sflocation, block_booking {{/str}}: {{location}}</small>
                            {{/location}}
                            {{#institution}}
                                <small>{{#str}} sfinstitution, block_booking {{/str}}: {{institution}}</small>
                            {{/institution}}
                        </a>
                    {{/results}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
