{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/search_form

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    TODO:
    Context variables required for this template:
    * examplevariable - array: An array with values.
    * etc.

    TODO:
    Example context (json):
    <paste json here - as in mooduell/templates/viewpage.mustache>
}}
<form method="post" action="">
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="text" class="form-control" id="inputBookingoption" placeholder="{{#str}} sfbookingoption, block_booking {{/str}}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="text" class="form-control" id="inputCourse" placeholder="{{#str}} sfcourse, block_booking {{/str}}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <input type="text" class="form-control" id="inputLocation" placeholder="{{#str}} sflocation, block_booking {{/str}}">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="inputInstitution" placeholder="{{#str}} sfinstitution, block_booking {{/str}}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label for="inputCoursestarttime">{{#str}} sfcoursestarttime, block_booking {{/str}}</label>
        </div>
        <div class="col-sm-10">
            <input type="datetime-local" class="form-control" id="inputCoursestarttime">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label for="inputCourseendtime">{{#str}} sfcourseendtime, block_booking {{/str}}</label>
        </div>
        <div class="col-sm-10">
            <input type="datetime-local" class="form-control" id="inputCourseendtime">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">{{#str}} sfsearchbtn, block_booking {{/str}}</button>
        </div>
    </div>
</form>
